body {
	font-family: Sans-serif;
	width: 100%;
}

#container {
	width: 100%;
	height: 900px;
}

.navbar {
	width: 100%;
	padding: 0;
	height: 70px;
}

.nav-main {
	width: 1210px;
	height: 100%;
	margin: auto;
	position: relative;
}

.nav-links {
	width: 150px;
	height: 20px;
	float: right;
	position: relative;
	top: 45px;
	right: 150px;
}

p > a {
	text-decoration: none;
	color: black;
	padding-right: 10px;
	font-size: 14px;
}

.sandwhich {
	position: relative;
	top: 10px;
	float: right;
	margin-right: -18px;
	padding-top: 33px;
}

.sign-in {
	float: right;
	margin-right: -103px;
	padding-top: 34px;
}

.sign-in img {
	border-radius: 4px;
}

#logo {
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 115px;
}

.input-area {
	display: block;
	width: 600px;
	height: 95px;
	margin: 0 auto;
	position: relative;
	top: 90px;
	right: 20px;
}

.input-box {
	height: 35px;
	position: relative;
	top: 5px;
	text-align: center;
}
input {
	width: 530px;
	height: 30px;
	border-radius: 4px;
	padding-left: 4px;
}

.input-box img {
	position: relative;
	right: 30px;
	top: 10px;
}

.search-buttons {
	text-align: center;
	position: relative;
	top: 18px;
}

.search-buttons button {
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 4px;
}
